.preview{
  width: 100%;
  height: 100%;
  background: #F5F5F5;
  display: flex;
  align-items: center;
}

.preview__inner{
  display: flex;
  align-items: center;
}

.preview__item{
  width: 50%;
}

.preview__title{
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.25rem;
  text-transform: uppercase;
  margin-bottom: 1.375rem;
}

.preview__subtitle{
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  margin-bottom: 2.25rem;
  max-width: 80%;
}

.preview__options{
  display: flex;
}

.preview__options--item{
  display: flex;
  align-items: center;
  padding-top: 5rem;
  padding-left: 1.25rem;

  &:first-child{
    padding-left: 0;
  }
}

.preview__options--item--text{
  line-height: 1.125rem;
  width: 7.125rem;
  padding-left: 0.75rem;
}

.paginator{
  padding-left: 2.5625rem;
}

.paginator__item{
  padding-bottom: 0.8125rem;
}

.paginator__link{
  display: block;
  height: 0.5625rem;
  width: 0.5625rem;
  background: #292929ad;
  border-radius: 50%;
  &:hover{
    background-color: #E01F3D;
  }
}

.preview__icon{
  width: 3.25rem;
  height: 3.25rem;
}